# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [20]:
# CODE HERE
person1={"Name":"john","Gender":"Male","Occupation":"Data scientist","Location":"Nizampet,Hyderabad"}
person1

{'Name': 'john',
 'Gender': 'Male',
 'Occupation': 'Data scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [21]:
# CODE HERE
person1={"Name":"john","Gender":"Male","Occupation":"Data scientist","Location":"Nizampet,Hyderabad"}
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [22]:
# CODE HERE
person1={"Name":"john","Gender":"Male","Occupation":"Data scientist","Location":"Nizampet,Hyderabad"}
x=person1
x

{'Name': 'john',
 'Gender': 'Male',
 'Occupation': 'Data scientist',
 'Location': 'Nizampet,Hyderabad'}

In [23]:
del x ['Location']
person1

{'Name': 'john', 'Gender': 'Male', 'Occupation': 'Data scientist'}

In [24]:
person1["Name"]="srikanth"
person1

{'Name': 'srikanth', 'Gender': 'Male', 'Occupation': 'Data scientist'}

In [25]:
person1.update({'Name': 'srikanth','age':27,'Gender': 'Male', 'Occupation': 'Data scientist'})
person1

{'Name': 'srikanth',
 'Gender': 'Male',
 'Occupation': 'Data scientist',
 'age': 27}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [26]:
# CODE HERE
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data scientist"}

In [27]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data scientist'}

> **`Question:` Print the output as show below**

In [28]:
# CODE HERE
person1={"Name":"john","Gender":"Male","Occupation":"Data scientist","Location":"Nizampet,Hyderabad"}
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data scientist"}
print(person1)
print(person2)

{'Name': 'john', 'Gender': 'Male', 'Occupation': 'Data scientist', 'Location': 'Nizampet,Hyderabad'}
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [29]:
# CODE HERE
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [30]:
x.clear()

In [31]:
x

{}

In [32]:
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
x.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)])

In [33]:
x=[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]
x.pop()
x.pop()
x.pop()
x.pop()
x.pop()
x.pop()
x.pop()
x

[]

In [34]:
x=[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]
x.remove((1,1))
x.remove((2,4))
x.remove((3,9))
x.remove((4,16))
x.remove((5,25))
x.remove((6,36))
x.remove((7,49))
x

[]


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [35]:
# CODE HERE
y={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
y.values()

dict_values([0, 1, 9, 25, 49, 81])

In [36]:
x=[0, 1, 9, 25, 49, 81]
x.sort(reverse=True)
x

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [37]:
# CODE HERE
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
dict3={"c":5,"d":6}
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [38]:
# CODE HERE
emp1= {'name': 'Jhony', 'salary': 7500},
emp2= {'name': 'Ravi', 'salary': 8000},
emp3= {'name': 'Charan', 'salary': 6500}

In [39]:
emp3["salary"]=8500
emp3

{'name': 'Charan', 'salary': 8500}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {"class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80}

In [40]:
# CODE HERE
x={"class":8,"studentname":"Mike","physics":70,"history":80}

In [41]:
x.get("history")

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [42]:
x={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
x

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [45]:
x.update({"Gender":"Male","Area":"Nizampet,Hyderabad","Name":"john","Occupation":"Datascientist"})
x

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'john',
 'Occupation': 'Datascientist',
 'Area': 'Nizampet,Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)